.container {
    /* font-size: 14px; */
    position: fixed;
    z-index: 10;
}

.notification-container {
    padding: 15px 40px;
    width: 512px;
    height: 112px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.delete-button-place-notification {
    float: right; 
    position: absolute;
    right: 0px;
    transition: transform .2s;
}

.bottom-right {
    bottom: 26px;
    right: 16px;
    transition: transform .6s ease-in;
    animation: toast-in-right .4s;
}

.btn-delete-notification {
    font-size: 20px;
    border: transparent;
    background: transparent;
    color: black;
    font-weight: 700;
}

.btn-delete-notification:hover {
    border:transparent;
    transform: scale(1.5);
}

.margin-0 {
    margin: 0px;
}

.margin-10 {
    margin: 10px
}

.padding-10 {
    padding-top: 10px;
}

.font-24 {
    font-size: 24px;
}

@keyframes toast-in-right {
    from {
        transform: translatex(100%)
    }
    to {
        transform: translatex(0)
    }
}