.deckComp-container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.decks-input {
    padding: 20px;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decks-input label {
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-control {
    width: 395px;
    height: 20px;
    border: 1px solid grey;
    padding: 5px; 
}

.form-control :-ms-input-placeholder {
    color: black;
}

.btn {
    margin-left: 10px;
}

.btn:hover {
    border-color: whitesmoke;
}

/* .btn-primary {
    background-color: hotpink;
    border: 1px solid hotpink;
    color: whitesmoke;
} */

.flashCard-container {
    font-size: 40px;
    height: 60px;
    padding: 20px;
    /* margin: 0 10px; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.view-decks {
    /* position: relative; */
    display: grid;
    grid-gap: 25px;
    width: 900px;
    margin: 0;
    padding-left: 0px;
    grid-template-columns: repeat(3, 1fr);
    /* justify-items: center; */
}

.deckCard {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    display: grid;
}

.deckCard-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: grid;
    grid-template-areas: "overlap";
}

.deckCard:hover .deckCard-inner {
    transform: rotateY(180deg);
  }

.deck-front, .deck-behind {
    list-style-type: none;  
    width: 100%;
    height: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;
    grid-area: overlap;
    position: relative;
    
}

.deck-front {
    background: #bbb;
}

.deck-behind {
    background: whitesmoke;
    transform: rotateY(180deg)
}

.delete-button-place {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform .2s;
}

.delete-button-place:hover {
    /* font-size: 20px; */
    transform: scale(1.5);
}

.btn-delete {
    background: transparent;
    color: black;
    font-weight: 900;
}

.pos-bot {
    position: absolute;
    bottom: 15px;
    border-radius: 5px;
    padding: 3px 20px;
    font-size: 15px;
    color: whitesmoke;
    background: #1a1a1a;
    border: 1px solid whitesmoke;
}

.pos-bot:hover {
    background: whitesmoke;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}