.card-component {
    background: whitesmoke;
    margin: 50px;
    min-height: 900px;
    width: 870px;
    border-radius: 40px;
}

.center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
} 

h1 {
    color: black;
}

.desciption-context {
    list-style-type: inherit;
}

.card-input {
    padding: 20px;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-input label {
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.black {
    color: black;
}

.font-30 {
    font-size: 30px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-20 {
    padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.end {
    position: absolute;
    right: 550px;
}

.button-bottom {
    padding: 20px;
}