.card-component {
    background: whitesmoke;
    margin-top: 100px;
    height: 1000px;
    width: 900px;
    border-radius: 40px;
}

.center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

} 

h1 {
    color: black;
}